@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

:root {
  --YELLOW:   #FFC75F;
  --YELDARK:  #E7B355;
  --PURPLE:   #845EC2; 
  --LIGHT:    #EFEFEF;
  --GREY:     #969696;
  --DARK:     #424242;
}

.App {
  text-align: center;
  font-family: 'Sanchez', serif;
  background-color: var(--YELLOW);
  color: var(--DARK);
}

h1, h2, h3, h4{
  font-family: 'Love Ya Like A Sister', cursive;
  color: white;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    float: left;
  }

  .Spinner {
    animation: App-logo-spin infinite 0.5s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--PURPLE);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-frame {
  position: relative;
  float: left;
  width: 48px;
  /*
  border-radius: 25% 25% 25% 5%;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgba(200,200,50,0.2);
  color: white;
  */
  background: rgba(0, 0, 0, 0.1); 
  margin: 1px;
  font-weight: bold;
}
.image-frame > img{
  height: auto;
  margin: 0px 0px 0px 0px;
}

.image-frame > span{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.input-container {
  background: var(--LIGHT);
  height: 2em;
  border-radius: 1em; 
  border-style: solid;
  border-width: 1px;
  border-color: var(--GREY);
  display: flex;
  justify-content: center;
  margin: 12px;
}

.input-container > * {
  margin: 0px 8px;
}

.btn, button {
  background: #845Ec2;
  color: #EFEFEF;
  height: 48px;
  border-radius: 24px;
  border-width: 0px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container > div {
  text-align: center;
  margin: 8px;
}

span{
  text-transform: capitalize;
}

ol { background: var(--YELDARK)}
li { background: var(--LIGHT)}
li:nth-child(odd) { background: var(--GREY) }

hr {
  background-color: var(--YELDARK);
  height: 2px;
  border: none;
}

.box {
  border-radius: 4px;
  border-color: none;
  box-shadow: 2px 4px 8px var(--DARK);
  background-color: var(--LIGHT);
  padding: 4px;
  margin: 8px;
}